:root {
  --code-ink: #4f5259;
  --code-span: #005c8a;
}

@media (prefers-color-scheme:dark) {
  :root {
    --code-ink: #d8dee9;
    --code-span: #ff9900;
  }
}



/* LIST ITEMS */
/* .cm-s-uxmap span.cm-variable-2 {
  color: var(--code-ink);
} */

/* CODE BLOCKS */
.cm-s-uxmap span.cm-comment {
  color: var(--color-grape-ink);
  /* color: red; */
  font-family: monospace;
}

/* LINK URL */
.cm-s-uxmap span.cm-string {
  color: var(--accent-hover);
}

/* HEADER */
.cm-s-uxmap span.cm-header {
  /* color: var(--color-cloud-ink); */
  color: red;
  font-weight: 600;
  font-variation-settings: "wght" 600;
}

/* LINK LABELS and CHECKBOXES */
.cm-s-uxmap span.cm-link {
  color: var(--ink-bold);
  text-decoration: none;
}

.cm-content {
  padding-top: 2rem;
}

.cm-s-uxmap {
  height: 100%;
  line-height: 2rem;
  font-size: 1rem;
  /* font-family: var(--font); */
  font-family: monospace;
}

.CodeMirror {
  background-color: var(--paper-row);
  font-size: 1.2rem;
}

.CodeMirror-code {
  padding: 0 2rem 0 0;
  color: var(--ink);
}

.CodeMirror-gutters {
  background-color: transparent;
  border: none;
}

.CodeMirror-lines {
  padding: 2rem;
}

.CodeMirror-linenumber {
  padding: 0 0.5rem;
  width: 0.5rem;
  color: var(--ink-disabled);
  font-size: 0.8rem;
  background-color: clear;
}

.CodeMirror div.CodeMirror-cursor {
  border-left: 2px solid var(--ink);
}

.CodeMirror-selected {
  background-color: var(--selection) !important;
}

.cm-s-uxmap span.cm-comment {
  /* color: #4c566a */
  font-size: 88%;
  /* color: var(--code-span); */
}

.cm-s-uxmap span.cm-atom {
  color: #b48ead
}

.cm-s-uxmap span.cm-number {
  color: #b48ead
}

.cm-s-uxmap span.cm-comment.cm-attribute {
  color: #97b757
}

.cm-s-uxmap span.cm-comment.cm-def {
  color: #bc9262
}

.cm-s-uxmap span.cm-comment.cm-tag {
  color: #bc6283
}

.cm-s-uxmap span.cm-comment.cm-type {
  color: #5998a6
}

.cm-s-uxmap span.cm-attribute,
.cm-s-uxmap span.cm-property {
  color: #8fbcbb
}

.cm-s-uxmap span.cm-keyword {
  color: #81a1c1
}

.cm-s-uxmap span.cm-builtin {
  color: #81a1c1
}

.cm-s-uxmap span.cm-string {
  color: #a3be8c
}

.cm-s-uxmap span.cm-variable {
  /* color: #d8dee9 */
  color: var(--code-ink);
}

.cm-s-uxmap span.cm-variable-2 {
  /* color: #d8dee9 */
  color: var(--code-ink);
}

.cm-s-uxmap span.cm-type,
.cm-s-uxmap span.cm-variable-3 {
  /* color: #d8dee9 */
  color: var(--code-ink);
}

.cm-s-uxmap span.cm-def {
  /* color: #8fbcbb */
  color: var(--code-ink);
}

.cm-s-uxmap span.cm-bracket {
  /* color: #81a1c1 */
  color: var(--code-ink);
}

.cm-s-uxmap span.cm-tag {
  color: #bf616a;
}

.cm-s-uxmap span.cm-header {
  /* color: #b48ead; */
  color: var(--color-cloud-ink);
}

.cm-s-uxmap span.cm-header-1 {
  font-size: 2rem;
}

.cm-s-uxmap span.cm-header-2 {
  font-size: 1.6rem;
}

.cm-s-uxmap span.cm-link {
  color: #b48ead
}

.cm-s-uxmap span.cm-error {
  background: #bf616a;
  color: #f8f8f0
}

.cm-s-uxmap .CodeMirror-activeline-background {
  background: #3b4252
}

.cm-s-uxmap .CodeMirror-matchingbracket {
  text-decoration: underline;
  color: #fff !important
}
