.markdownEditor {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: var(--paper-row);
}

.markdownContainer {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  max-width: var(--max-width);
  margin: 0 auto;
}

/* .renderContainer {
    display: block;
}

@media (max-width: 1000px) {
    .markdownEditor {
        grid-template-columns: 1fr;
    }

    .renderContainer {
        display: none;
    }
} */
