.svgEditor {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 16rem 1fr;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

.svgRenderContainer {
    display: block;
    background-color: var(--paper);
    overflow: auto;
    border-bottom: 1px solid var(--border);
    box-shadow: var(--box-shadow-mini);
}

#svgRender {
    display: block;
    width: calc(100% - 4rem);
    height: calc(100% - 4rem);
    /* margin: 0 auto; */
    padding: 2rem;
}

#svgRender > svg {
    width: 100%;
    height: 100%;
}

/* 
@media (max-width: 1000px) {
    .markdownEditor {
        grid-template-columns: 1fr;
    }

    .renderContainer {
        display: none;
    }
} */
